@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800;900&family=Lato:wght@300;400&family=Manrope:wght@200;300;400;500;600&family=Montserrat:wght@200;300;400;500;600&family=Poppins:wght@200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    background: #FFF;
}

header {
    width: 100%;
    top: 0;
    position: fixed;
}

.header-content {
    width: 55%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content .logo {
    font-size: 1.5rem;
    font-family: 'Jost', sans-serif;
    color: rgb(4, 10, 27);
}

.header-content .nav-menu ul {
    margin-right: -10px;
}

.header-content .nav-menu ul a {
    text-decoration: none;
    color: rgb(4, 10, 27);
    padding: 0 10px;
    font-weight: 600;
}

/*LADING PAGE*/

.landing-page {
    width: 55%;
    height: 100vh;
    background: #FFF;
    margin: 0 auto;
    font-family: 'Manrope', sans-serif;
    display: flex;
    align-items: center;
}

.landing-page .content-page {
    width: 100%;
    height: 80vh;
}

.landing-img, .landing-text {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landing-img img {
    width: 140px;
    border-radius: 100%;
    box-shadow: 0 4px 25px -22px #000;
}

.landing-text h1 {
    font-size: 2.5em;
    color: #333;
}

.me-landing {
    height: 50%;
    background: #FFF;
    box-shadow: 0 5px 30px -22px #000;
    padding: 2rem 2.8rem;
    margin: 30px 20px;
    border-radius: 8px;
}

.me-landing p {
    width: 90%;
    margin: 8px 0;
}

/*RESPOSIVE DESIGN*/

@media screen and (max-width: 1150px) {
    .header-content {
        width: 90%;
    }

    .landing-page {
        width: 90%;
    }

    .landing-text p {
        text-align: center;
    }

    .me-landing p {
        font-size: 17px;
    }
}

@media screen and (max-width: 720px) {
    .header-content {
        width: 90%;
    }

    .header-content .nav-menu {
        width: 60%;
        height: 100vh;
        background: rgb(237, 239, 241);
        top: 0;
        left: -100%;
        position: fixed;
    }

    .me-landing {
        overflow: hidden;
        padding: 10px 20px;
    }
}

@media screen and (max-width: 600px) {
    .me-landing p {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {

    .landing-page {
        width: 90%;
    }
    
    .landing-text p {
        text-align: center;
    }

    .me-landing {
        overflow: hidden;
        padding: 13px;
    }

    .me-landing p {
        width: 100%;
        font-size: 16px;
    }
}

@media screen and (max-width: 350px) {
    .me-landing p {
        font-size: 11px;
    }
}
