@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&family=Jost:wght@200;300;400;500;600;700;800;900&family=Lato:wght@300;400&family=Manrope:wght@200;300;400;500;600&family=Montserrat:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500&family=Quicksand:wght@400;500;600;700&display=swap');

* {
    margin: 0; padding: 0;
}

* > .header-content a {
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    color: #FFF;
}

body {
    background: #13142a;
    color: #40F2FE;
}

.header-content {
    width: 100%;
    background: rgba(0, 0, 0, 0.342);
    font-family: 'Jost', sans-serif;
}

.header-wrap {
    width: 80%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 1.7rem;
    color: rgb(190, 190, 190);
}

.header-logo b {
    color: #40F2FE;
    font-weight: 400;
}

#open-menu {
    width: 20px;
    position: relative;
    z-index: 10;
    margin-right: 10px;
    display: none;
  }
  #open-menu::after {
    content: '';
    display: block;
    width: 23px;
    height: 3px;
    background: #FFF;
    margin-top: 5px;
    transition: 0.3s ease-in-out;
    position: relative;
    border-radius: 12px;
  }
  
  #open-menu::before {
    content: '';
    display: block;
    width: 23px;
    height: 3px;
    background: #FFF;
    margin-top: 5px;
    transition: 0.3s ease-in-out;
    position: relative;
    border-radius: 12px;
}

.header-nav ul a {
    padding: 0 10px;
    font-size: 1.1rem;
}

.header-icons i{
    color: #FFF;
    font-size: 1.2rem;
    padding: 0 5px;
}

.nav-logos {
    display: none;
}

.nav-icons {
    display: none;
}

@media screen and (max-width: 780px) {
    .header-wrap {
        width: 90%;
    }
}

@media screen and (max-width: 680px) {
    #open-menu {
        display: block;
    }

    .header-nav {
        width: 50%;
        height: 100vh;
        background: #13142a;
        box-shadow: 0 5px 25px -17px #FFF;
        top: 0;
        left: -100%;
        overflow: hidden;
        transition: all .3s ease-in-out;
        position: fixed;
    }
    
    .active {
        left: 0;
    }

    .active::before {
        transform: rotate(135deg);
        top: 3px;
      }
      
      .active::after {
        transform: rotate(-135deg);
        top: -5px;
      }

    .header-nav ul {
        display: flex;
        flex-direction: column;
    }

    .nav-logos {
        width: 90%;
        height: 200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-logos img {
        width: 90px;
        border-radius: 100%;
        margin-top: 15px;
    }

    .nav-logos span {
        margin: 10px 0;
        color: rgb(194, 192, 192);
        font-size: 1.2rem;
    }

    .nav-logos span b {
        font-weight: 400;
        color: #40F2FE;
    }

    .header-nav ul a {
        padding: 10px 1.5rem;
        font-size: 1.1rem;
    }

    .header-icons {
        display: none;
    }

    .nav-icons {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-icons i {
        color: #FFF;
        font-size: 1.2rem;
        margin: 0 8px;
    }
}