@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&family=Jost:wght@200;300;400;500;600;700;800;900&family=Lato:wght@300;400&family=Manrope:wght@200;300;400;500;600&family=Montserrat:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500&family=Quicksand:wght@400;500;600;700&display=swap');

.home-content {
    width: 80%;
    height: 89.3vh;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

.wel-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wel-content img {
    display: none;
}

.wel-content h1 {
    color: #FFF;
}

@media screen and (max-width: 440px) {
    .wel-content img {
        width: 100px;
        display: block;
        border-radius: 100%;
        margin: 15px 0;
    }

    .wel-content h1, h2 {
        font-size: 1rem;
        margin: 5px 0;
    }
}

@media screen and (max-width: 360px) {
    .wel-content h1, h2 {
        font-size: 1rem;
    }
}